{% extends "modelo.html"%}

{% block title %} FormListaClientes {% endblock %}


{% block style %}
{{super()}}

{% endblock %}

{% block content %}
{{super()}}

<form action="{{ url_for('cliente.formCliente') }}" method="post">
    <button type="submit" class="novo">Novo Cliente</button>

    <h1><p class="important"> Lista Clientes </p></h1>
    <table border=2 class="listas">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> # </th>
                <th scope="col"> Nome </th>
                <th scope="col"> Endereço </th>
                <th scope="col"> Número </th>
                <th scope="col"> Obervação</th>
                <th scope="col"> CEP</th>
                <th scope="col"> Bairro</th>
                <th scope="col"> Cidade</th>
                <th scope="col"> Estado</th>
                <th scope="col"> Telefone</th>
                <th scope="col"> Email</th>
                <th scope="col"> Login</th>
                <th scope="col"> Grupo</th>
                <th scope="col"> Editar</th>
            </tr>
        </thead>

        <tbody>
            {% if result %}
            {% for row in result %}
            <tr>
                <th scope='row'> {{ row[0] }}</th>
                <td> {{ row[1] }}</td>
                <td> {{ row[2] }}</td>
                <td> {{ row[3] }}</td>
                <td> {{ row[4] }}</td>
                <td> {{ row[5] }}</td>
                <td> {{ row[6] }}</td>
                <td> {{ row[7] }}</td>
                <td> {{ row[8] }}</td>
                <td> {{ row[9] }}</td>
                <td> {{ row[10] }}</td>
                <td> {{ row[11] }}</td>
                <td> {{ row[13] }}</td>
                <td>
                    <form action='{{ url_for("cliente.formEditCliente") }}' method='POST' name='editUsuario'>
                        <input type='hidden' name='id_cliente' value='{{ row[0] }}'>
                        <button type='submit' name='formEditCliente'><i class='fa fa-fw  fa-edit'></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% endif %}


        </tbody>

    </table>
</form>

{% endblock %}