{% extends "modelo.html"%}

{% block content %}
<form name="produto" class="formProduto" action="{{ url_for('produto.formProduto') }}" method="post">
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Novo Produto</h4>   

        <div class="row">
            <div class="col-md-8 mb-2">
                <label for="id_produto">Produto:</label>
                <input readonly value="" type="text" name="id_produto"  id="id_produto" 
                class="form-control" placeholder="ID"  required>  
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 mb-2">
                <label for="descricao">Descrição do Produto:</label>
                <input value="" type="text" name="descricao"  id="descricao" 
                class="form-control" placeholder="Descrição do Produto" autofocus required>  
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 mb-2">
                <label for="valor">Valor:</label>
                <input value="" type="text" name="valor"  id="valor" 
                class="form-control" autofocus required>  
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 mb-2">
                <label for="imagem">Imagem:</label>
                <input value="" type="file" name="imagem"  id="imagem" 
                class="form-control" autofocus required>  
            </div>
        </div>
              
        <button type="submit" class="btn btn-primary><a id="btnSalvaNovoProduto" href=""><i class="fa fa-fw fa-save"></i>Salvar</a></button>    

    </div>
    
</form>

{% endblock%}