{% extends "modelo.html" %}

{% block title %} Adicionar Produto em Pedido {% endblock %}

{% block style %}
{{super()}}
<style></style>

{% endblock %}

{% block content %}
{{ super() }}
{% if pedido.id_pedido == 0: %}
<h1>Adicionar Produto em Pedido</h1>
<form id="addProduto" name="addProduto" method="POST" enctype="multipart/form-data">
    {% else: %}
    <h1>Editar Pedido: {{ pedido.id_pedido }}</h1>
    <form id="editProduto" name="editProduto" method="POST" enctype="multipart/form-data">
        {% endif %}

        <div class="row">
            <div class="col-md-2 mb-2">
                <label for="id_pedido">Número do Pedido:</label>
                <input value="{{ pedido.id_pedido }}" type="text" name="id_pedido" id="id_pedido" class="form-control">
            </div>
        </div>

            <div class="col-md-5 mb-2">
                <label for="id_produto">Produto:</label>
                <select name="id_produto" id="id_produto" class="form-control" autofocus>
                    <option value=""></option>
                    {% for produto in listaProdutos: %}
                    <option value="{{ produto[0] }}" name>{{ produto[1] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="row">
                <div class="col-md-1 mb-2">
                    <label for="">Quantidade:</label>
                    <input value="{{ pedido.quantidade}}" type="number" name="quantidade" id="quantidade" class="form-control" placeholder="">
                </div>
            </div>

            <div class="col-md-2 mb-2">
                <label for="valor">Valor:</label>
                <input value="" type="text" name="valor" id="valor" class="form-control" autofocus>
            </div>

            <div class="col-md-10 mb-2">
                <label for="observacao">Observações:</label>
                <input value="" type="text" name="observacao" id="observacao" class="form-control" autofocus>
            </div>

        <button type="submit" class="btn btn-primary"><a id="salvaPedidoProdutoDB"><i
                    class="fa fa-fw fa-save"></i>Salvar</a></button>
    </form>

    <br><br>

    {% endblock %}

    {% block js %}
    <script>
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }}; // pega a url da barra de endereço

        $('#addProduto').submit(function (e) {
            e.preventDefault(); // parar o envio para poder fazer manualmente
            var form = $('#addProduto')[0]; // captura o form
            var data = new FormData(form); // cria o FormData {Object}

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "{{url_for('pedido.addProduto')}}",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,

                // manipular o retorno da requisição
                success: function (data) {
                    if (!data.erro) {
                        swal({
                            title: "",
                            text: data.mensagem,
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    window.location.replace($SCRIPT_ROOT +
                                        "{{ url_for('pedido.formListaPedidos') }}");
                                }
                            });
                    } else {
                        swal("", data.mensagem + '\n' + data.mensagem_exception, "error");
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            })
        })

        // incluir aqui a opção para editar
        $('#editProduto').submit(function (e) {
            e.preventDefault(); // parar o envio para poder fazer manualmente
            var form = $('#editProduto')[0]; // captura o form
            var data = new FormData(form); // cria o FormData {Object}
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "{{url_for('pedido.editProduto')}}",
                data: data,
                processData: false, // impedir que o jQuery tranforma a "data" em querystring
                contentType: false, // desabilitar o cabeçalho "Content-Type"
                cache: false, // desabilitar o "cache"
                timeout: 600000, // definir um tempo limite (opcional)
                // manipular o retorno da requisição
                success: function (data) {
                    if (!data.erro) {
                        swal({
                            title: "",
                            text: data.mensagem,
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    window.location.replace($SCRIPT_ROOT + "{{ url_for('pedido.formListaPedidos') }}");
                                }
                            });
                    }
                    else {
                        swal("", data.mensagem + '\n' + data.mensagem_exception, "error");
                        console.log(data.mensagem_exception);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            })
        })
    </script>
    {% endblock %}