{% extends "modelo.html"%}

{% block title %} FormlListaPedidos{% endblock %}

{% block content %}

<form action="{{ url_for('pedido.formPedido') }}" method="post">
    <button type="submit" class="novo">Novo Pedido</button>
    <p class="important"> Lista Pedidos </p>

    <table align="center">
        <thead>
        <tr>
            <td> # </td>
            <td> Telefone </td>
            <td> Cliente </td>
            <td> Endereço </td>
            <td> Número </td>
            <td> CEP</td>
            <td> Bairro </td>
            <td> Cidade</td>
            <td> Obs</td>
            <td> Data/Hora</td>
            <td> Produtos</td>
        </tr>
    </thead>
    
    </table>
</form>
{% endblock%}